<div class="row title_band">
    <div class="page_title">
        <h1>Items</h1>
    </div>
    <div><%= link_to 'Create Guide', new_item_path(@item), class: "title_button"%></div>
</div>

<div class="row">
    <div class="col-1-1 column_1">
        <div class="border">

        <%= render :partial => "flash_notice" %>

            <div class="row">
                <table>
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th class="row_button no_buttons_3"></th>
                        </tr>
                    </thead>
                </table>

                <table>
                    <tbody>
                        <% @items.each do |item| %>
                        <tr>
                            <td class="mob_cell"><%= item.title %></td>
<!-- parent references: list of item titles -->
<!-- child references: list of item titles -->
                            <td class="mob_cell"><%= item.guide_id %></td>
                            <td class="row_button no_buttons_2">
                                <%= link_to "", item_path(item), class: 'line_show_icon', title: "show item" %>
                                <%= link_to "", edit_item_path(item), class: 'line_edit_icon', title: "edit item" %>
                            </td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>