
<div class="page_title">Import product data</div>


<div class="content">
    <div class="column_1">
		<div class="column_content">       
			<div class="column_title">Upload Data</div>   
    			
    		<div class="column_sub_content">

            <%= render :partial => "form_error", :locals => {item: @productimport} %>
				
					<div class="column_guide">
						<p>guide text here:</p>
						<ul>
							<li>first set of guidance here to see if it wraps when at end of div</li>
						</ul>
      				</div>

      				<div class="column_form">
						<%= form_for(@productimport) do |f| %>  

						<!-- options - keep/delete existing products -->		
						<table>
						<tr><td>
							<div class="radio_button"><%= f.radio_button :action, 'retain', :checked => true %></div>
							<div class="radio_button_label">Retain existing product data</div>				
						</td></tr>
						<tr><td>
							<div class="radio_button"><%= f.radio_button :action, 'overwrite' %></div>
							<div class="radio_button_label">Overwrite existing product data</div>				
						</td></tr>
						<tr><td>
							<!-- file with new products -->
							<%= f.file_field :csv %>
						</td></tr>
						</table>	      	
      				</div>
    		</div>
      		<div class="column_footer">
        		<div>
        			<div class="column_submit"><%= f.submit "upload csv file"%></div>
        			<% end %>               
        		</div>   
      		</div>  
		</div> 
	</div>

	<div class="column_2"></div>	
	<div class="column_3"></div>
</div>